//- index.jade
extends ./layout.jade
block row-content
    div      
        .row
            .col-lg-3.col-md-3.col-sm-12
                each user in users
                    a(href="/user/#{user._id}")
                            mixin user_card(user)
            .col-lg-9.col-md-9.col-sm-12
                canvas#graph_line
    div#graph_data(style="display:none;")
       | #{JSON.stringify(graph_data)}
block scripts
    script(type='text/javascript', src='/js/graph.js')