//- index.jade
extends ./layout.jade
block row-content
    div      
        .row
            .col-lg-3.col-md-3.col-sm-12
                each user in users
                    a(href="/user/#{user.username}")
                        .row
                            mixin user_card(user)
            .col-lg-4.col-md-4.col-sm-12
                #graph_pie
    div#graph_data
       | #{JSON.stringify(graph_data)}
block scripts
    script(type='text/javascript', src='/js/graph.js')