//- index.jade
extends ./layout.jade
block row-content
    div      
        .row
            .col-lg-3.col-md-3.col-sm-12
                .row
                    mixin user_card(user)
                .row
                    div#graph
            .col-lg-3.col-md-3.col-sm-12
                each call in calls
                    a(href="/user/#{call._user._id}/call/#{call._id}")
                        .col-lg-12.col-md-12.col-sm-12
                            .col-lg-4.col-md-4.col-sm-4
                                span='(Created at: ' + moment(call.date).format("YYYY/MM/DD") + ')'
                            .col-lg-4.col-md-4.col-sm-4
                                mixin sentiment(call.sentiment)
            .col-lg-6.col-md-6.col-sm-12
                .div#graph_line
    div#graph_data(style='display:none;')
       | #{JSON.stringify(graph_data)}
block scripts
    script(type='text/javascript', src='/js/graph.js')