extends ./layout.jade
block row-content
    div.container
        div.page-header
            h1 Create Call
        form#create_form_call.login-form.form-horizontal(role='form')
            div.form-group
                label.col-sm-4 User Name
                div.col-sm-8
                    select#_user.form-control(name='_user')
                        option john
                        for user in users
                            option #{user._id}
            div.form-group
                label.col-sm-4 Date
                div.col-sm-8
                    #datetimepicker12.input-group.date
                            input.form-control(type='text', name='date')
                            span.input-group-addon
                                span.fa.fa-calendar
            br
            div.form-group
                label.col-sm-4 Transcript
                div.col-sm-8
                    textarea.form-control(placeholder='Transcript', required=true, name='text', type='text', value=text)
            
            div.form-group
                label.col-sm-4 Sentiment
                div.col-sm-8
                    select#sentiment.form-control(name='sentiment')
                        option 1
                        option 2
                            option 3
            div.form-group
                label(for='audioFile') File input
                input#audioFile(type='file')
                        
            div.form-group.pull-right
                div.col-sm-8
                    button.login.btn.btn-primary(type='submit') Save
block scripts
    script(type='text/javascript', src='/js/util.js')
    script(type='text/javascript', src='/js/lib/moment.min.js')
    script(type='text/javascript', src='/js/lib/bootstrap-datetimejs.js')