//- banner.jade
div.row#menu
  div.col-lg-12
    div.row.top-nav.navbar-fixed-top
      div.container
          img(src='/images/logo.png')
     div.row
        a(href="/") 
            .col-lg-3.mngr_name
                | Joao