//- banner.jade
nav.navbar.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                |             
                span.icon-bar
                |             
                span.icon-bar
                |             
                span.icon-bar
            a.logo(href='/')
                img(src='/images/logo.png', height='40px;')
        |         
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/') Dashboard
                |             
                li
                    a(href='/users/create') Add User
                |             
                li
                    a(href='/calls/create') Add Call
                |             
                li
                    a(href='https://github.com/cavoto/owl', target='_blank') GitHub
                li
                    a(href='#')
                        img.img-circle(src='/images/cavoto.jpg', width='20px')