//- layout.jade
doctype html
html(lang='en')
    head
        block title
            title Call@best - made with Bluemix and Watson
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
        //link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/style_tone.css')
        link(rel='stylesheet', href='/css/datetimepicker.css')
        include mixin.jade
    body
        include header.jade
        .container-fluid.main
            block row-content
        script(type='text/javascript', src='/js/lib/jquery-2.1.0.min.js')
        script(type='text/javascript', src='/js/lib/bootstrap-3.3.1.min.js')
        script(src='/js/lib/Chart.min.js')
        script(src='/js/lib/d3.v2.min.js')
        script(type='text/javascript', src='/js/lib/lodash.min.js')

        block scripts