/* style.css
 * This file provides css styles.
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #0C2552;
}

.main {
    background-color: #FFF;
}

.mngr_name {
    background-color: #FFF;
    font-size: 30px;
    color: #0C2552;
    margin-bottom: 5px;
    margin-top: 5px;
}

